/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

/* Padrões */

:root {
    --vermelho: #cc0000;
    --vermelho_escuro: #9A1915;
    --preto: #000;
    --branco: #ffffff;
    --fonte_texto: "Montserrat", sans-serif;
}

.menu-materias ul{
    background-color: var(--vermelho);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 90px;
    left: 80%;
    width: 15%;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 0;
  }
  
  .menu-materias.abrir ul {
    visibility: visible;
    height: calc(72vh - 7px);
  }
  
    .menu-materias ul li:hover{
      background-color: var(--vermelho);
      }
    
    .menu-materias ul li {
      display: block;
      padding: 10px 30px;
      font-size: 16px ;
      text-align: center;
    }
  
    .menu-materias ul li a{
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
    }
    #btn-menu{
      width: 40px;
      height: 40px;
      border: 0px solid var(--vermelho);
      background: transparent;
      border-radius: 10px;
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
}
  
    .linha{
      width: 40px;
      height: 3px;
      background-color: var(--branco);
      display: block;
      margin: 10px auto;
      position: relative;
      transform-origin: center;
      transition: .2s;
    }
    #btn-menu.ativo .linha:nth-child(1){
      transform: translateY(12px) rotate(-45deg);
      background-color: var(--branco);
    }
    #btn-menu.ativo .linha:nth-child(3){
      transform: translateY(-15px) rotate(45deg);
      background-color: var(--branco);
    }
    #btn-menu.ativo .linha:nth-child(2){
      width: 0;
      height: 4px;
    }
    #btn-menu.ativo{
      border: 0px solid var(--preto);
    }

/* Hearder */

.container_header {
    background-color: var(--vermelho);
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.33rem;
    align-items: center;
}

.container_img {
    height: 6rem;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img{
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
}

.divisoria {
    background-color: var(--branco);
    height: 80%;
    width: 0.15rem;
    display: flex;
}

.nav {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.nav a {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: var(--vermelho-claro);
}

.container_menu {
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_menu img {
    width: 30%;
    height: 50%;
}




/* Calendário */

h1 {
    font-size: 40px;
    margin: 20px;
}

/* Noticias */

.container_frase {
    width: 750px;
    height: 500px;
    border: 1px solid;
    margin: auto;
    border-radius: 50px;
}


#container1 {
    background: linear-gradient(#00000050, #00000050), url(image/home/jose_alencar.jpeg) center no-repeat;
}

.texto1 {
    width: 650px;
    margin: 30px;
    margin-top: 200px;
    color: var(--branco);
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

/* Simulados */

.simulado1 {
    border: 2px solid var(--vermelho);
    margin: 30px;
    justify-content: space-between;
    border-radius: 20px;
}

.simulados ul {
    margin: 20px;
    right: 0;
}

.simulados li {
    display: inline-block;
    padding: 0 230px;
    color: var(--preto);
}



/* Footer */

.footer {
    background-color: var(--vermelho);
    /* Vermelho do SENAI */
    padding: 20px 0;
    color: white;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-media a img {
    width: 30px;
    height: auto;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    background-color: var(--vermelho_escuro);
}

.footer-location {
    max-width: 400px;
    text-align: left;
}

.footer-location h4 {
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.footer-location p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-divider {
    height: 50px;
    width: 2px;
    background-color: var(--branco);
}