body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.white-bar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    
}


header {
    background-color: #E30613;
    ;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 60px;
}

.logo {
margin-left: 20px;
margin-right: 100px;
}

.logo img {
width: 80px;
height: auto;
}


nav {
    display: flex;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 55px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
    ; 
}


nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E30613;
    ; 
    padding: 10px;
    list-style: none;
    width: 150px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 5px 10px;
    display: block;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
}


.site-footer {
    background-color: #9A1914;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
}

.contact-info {
    margin-bottom: 10px;
}

.author-name,
.author-email {
    margin-bottom: 20px;
}

.email-link {
    color: rgb(235, 196, 235);
    text-decoration: none;
    transition: color 0.3s;
  }
 
  .email-link:hover {
    color: #fff;
  }
 
  .footer-copy {
    font-size: 0.9em;
    color: #ccc;
  }

  .hr-footer {
border: none;
border-left: 2px solid white;
height: 100px;
margin: 0 50px;
  }