/* header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('/mnt/data/36EA5938-032E-48F0-BB08-A0D691E8F26A.jpeg'); /* Use a imagem de fundo fornecida */
    background-size: cover;
    background-position: center;
    background-image: url(../img/fundo.png);
}
header {
    background-color: #E42624;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container img {
    height: 60px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

