/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Padrões */

:root {
    --vermelho: #cc0000;
    --vermelho_escuro: #9A1915;
    --cinza: #D9D9D9;
    --preto: #000;
    --branco: #ffffff;
    --fonte_texto: "Montserrat", sans-serif;
}

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

/* Menu */
.menu-materias ul {
    background-color: var(--vermelho);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 90px;
    z-index: 9999;
    left: 80%;
    width: 15%;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 0;
}

.menu-materias.abrir ul {
    visibility: visible;
    height: calc(72vh - 7px);
}

.menu-materias ul li:hover {
    background-color: var(--vermelho);
}

.menu-materias ul li {
    display: block;
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
}

.menu-materias ul li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

#btn-menu {
    width: 40px;
    height: 40px;
    border: 0px solid var(--vermelho);
    background: transparent;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}

.linha {
    width: 40px;
    height: 3px;
    background-color: var(--branco);
    display: block;
    margin: 10px auto;
    position: relative;
    transform-origin: center;
    transition: .2s;
}

#btn-menu.ativo .linha:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
    background-color: var(--branco);
}

#btn-menu.ativo .linha:nth-child(3) {
    transform: translateY(-15px) rotate(45deg);
    background-color: var(--branco);
}

#btn-menu.ativo .linha:nth-child(2) {
    width: 0;
    height: 4px;
}

#btn-menu.ativo {
    border: 0px solid var(--preto);
}

/* Header */

.container_header {
    background-color: var(--vermelho);
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.33rem;
    align-items: center;
}

.container_img {
    height: 6rem;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img {
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
}

.divisoria {
    background-color: var(--branco);
    height: 80%;
    width: 0.15rem;
    display: flex;
}

.nav {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.nav a {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav a:hover {
    background-color: var(--vermelho-claro);
}

.container_menu {
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_menu img {
    width: 30%;
    height: 50%;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner */

.banner {
    width: 100%;
    height: 46rem;
}

.banner img {
    width: 100%;
    height: 100%;
    filter: brightness(0.78);
}

/* Navegação */

.navegacao {
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}

.links_navegacao {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    gap: 3rem;
    flex-wrap: wrap;
}

.navegacao a {
    background-color: var(--cinza);
    padding: 4px 30px;
    border-radius: 18px;
    text-decoration: none;
}

.navegacao a:hover {
    background-color: var(--vermelho);
}

.navegacao li {
    font-size: 15px;
    color: var(--preto);
    list-style-type: none;
}

.divisoria_nav {
    background-color: var(--vermelho);
    width: 10%;
    height: 0.2rem;
}

/* Conteúdo */

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135rem;
    gap: 2rem;
    justify-content: center;
}

.divisao_dicas {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.dica1, .dica2 {
    width: 49%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.informacao {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.imagem {
    width: 50%;
    height: 90%;
}

.imagem img {
    width: 100%;
    height: 100%;
}

/* Footer */

.footer-text {
    background-color: #9a1915;
    color: white;
  
  }
  
  .header-nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 6px;
    color: #ffffffff;
  }
  
  .footer {
    background-color: #9a1915;
    color: white;
    margin-top: 50px;
  }
  
  .footer .icones {
    background-color: #e30613;
  }
  
  .senai {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-left: 25%;
  }
  
  .senai h3 {
    text-align: left;
  }
  
  .senai p {
    text-align: left;
  }
  
  .sesi {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    padding: 0 0 20px 0px;
  }
  
  .sesi h3 {
    text-align: left;
  }
  
  .sesi p {
    text-align: left;
  }
  
  .footer .icones img {
    display: inline-block;
  }
  
  .icones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    background-color: #9a1915;
    color: white;
  }
  
  .img {
    width: 25%;
    margin-bottom: 300px;
    align-items: center;
  }

  .team{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 50px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  margin-left: -135px;
 }

/* Responsividade Telas Grandes */

@media (min-width: 769px) and (max-width: 1024px) {
    
    /* Menu */
    .menu-materias ul {
        top: 64px;
        width: 18%;
    }
    #btn-menu {
        top: 10px;
        width: 90px;
    }
    .linha {
        width: 26px;
        height: 2px;
    }
    
    /* Header */
    .container_header {
        height: 4rem;
    }
    .container_img {
        width: 30%;
    }
    .container_img img {
        width: 70%;
        height: 75%;
        padding: 0 20px;
    }
    .divisoria {
        width: 0.14rem;
    }
    .nav {
        width: 45%;
        gap: 4rem;
    }
    .nav a {
        font-size: 14px;
    }

    /* Banner */
    .banner {
        height: 28rem;
    }

    /* Navegação */
    .navegacao {
        height: 4rem;
    }
    .links_navegacao {
        padding: 1rem 0;
        gap: 0.8rem;
    }

    /* Conteúdo */
    .conteudo {
        height: 222rem;
        gap: 0.8rem;
    }
    .divisao_dicas {
        flex-direction: column;
        align-items: center;
    }
    .dica1, .dica2 {
        width: 90%;
        height: 18rem;
        justify-content: space-between
    }
    .informacao {
        width: 47%;
        height: 50%;
    }
    .imagem {
        width: 50%;
        height: 90%;
    }

    /* Footer */
    .footer {
        margin-top: 10px;
    }
    .footer .enderecos {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 4.3rem;
    }
    .footer .icones {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .senai, .sesi {
        width: 40%;
        height: 90%;
        padding: 10px 0 10px 0;
        margin-left: 0;
    }
    .senai h3, .sesi h3 {
        text-align: center;
        font-size: 14px;
    }
    .senai p, .sesi p {
        text-align: center;
        font-size: 12px;
    }
}

/* Responsividade Telas Médias */

@media (min-width: 501px) and (max-width: 768px) {
    /* Menu */
    #btn-menu {
        top: 2px;
        width: 2%;
    }
    .linha {
        width: 22px;
        height: 0.12rem;
        margin: 6px auto;
    }

    /* Header */
    .container_header {
        height: 3rem;
    }
    .container_img {
        width: 30%;
    }
    .container_img img {
        width: 100%;
        height: 79%;
        padding: 0 10px;
    }
    .divisoria {
        width: 0.1rem;
    }
    .nav {
        width: 57%;
        gap: 1.1rem;
    }
    .nav a {
        font-size: 12px;
    }

    /* Banner */
    .banner {
        height: 20rem;
    }

    /* Navegação */
    .navegacao {
        height: 3rem;
    }
    .links_navegacao {
        padding: 1rem 0;
        gap: 1rem;
    }
    .navegacao a {
        padding: 3px 5px;
    }
    .navegacao li {
        font-size: 12px;
    }

    /* Conteúdo */
    .conteudo {
        height: 304rem;
        gap: 0.8rem;
    }
    .divisao_dicas {
        flex-direction: column;
        align-items: center;
    }
    .dica1, .dica2 {
        width: 90%;
        height: 25rem;
        flex-direction: column;
        justify-content: space-between
    }
    .informacao {
        width: 100%;
        height: 50%;
    }
    .informacao h3 {
        font-size: 16px;
    }
    .informacao p {
        font-size: 14px;
    }
    .imagem {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    .imagem img {
        width: 80%;
        height: 100%;
    }

    /* Footer */
    .footer {
        margin-top: 30px;
    }
    .footer .enderecos {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 4.3rem;
    }
    .footer .icones {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .senai, .sesi {
        width: 40%;
        height: 90%;
        padding: 10px 0 10px 0;
        margin-left: 0;
    }
    .senai h3, .sesi h3 {
        text-align: center;
        font-size: 12px;
    }
    .senai p, .sesi p {
        text-align: center;
        font-size: 10px;
    }
}