/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis de tema */
:root {
  --vermelho: #cc0000;
  --vermelho_escuro: #9A1915;
  --cinza: #D9D9D9;
  --preto: #000;
  --branco: #ffffff;
  --fonte_texto: 'Montserrat', sans-serif;
}

/* Reset e estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte_texto);
}

/* Header */
.container_header {
  display: flex;
  align-items: center;
  gap: 0.33rem;
  padding: 0.5rem;
  background-color: var(--vermelho);
  height: 6rem;
}

.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.container_img img {
  width: 70%;
  height: 80%;
}

.divisoria {
  background-color: var(--branco);
  width: 0.15rem;
  height: 80%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 70%;
}

.nav a {
  color: var(--branco);
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.nav a:hover {
  background-color: var(--vermelho_escuro);
}

/* Navegação */
.navegacao {
  display: flex;
  justify-content: center;
  gap: 6%;
  padding: 2rem 0;
}

.navegacao a {
  background-color: var(--cinza);
  padding: 4px 30px;
  border-radius: 18px;
  text-decoration: none;
}

.navegacao a:hover {
  background-color: var(--vermelho);
}

.menu-navegacao {
  display: flex;
  justify-content: center;
  gap: 6%;
  padding: 2rem 0;
}

a {
  color: black
}

/* Conteúdo */

h2 {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    width: 100%;
    height: 38rem;
    flex-direction: column;
    align-items: center;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.video {
    flex: 1 1 calc(23% - 20px);
    background-color: var(--branco);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.video-title {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

video {
    width: 100%;
    height: auto;
    max-height: 200px;
}

/* Footer */

.footer-text {
    background-color: #9a1915;
    color: white;

}

.header-nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 6px;
    color: #ffffffff;
}

.footer {
    background-color: #9a1915;
    color: white;
    margin-top: 50px;
}

.footer .icones {
    background-color: #e30613;
}

.senai {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 30px 0 20px 0;
    margin-left: 25%;
}

.senai h3 {
    text-align: left;
}

.senai p {
    text-align: left;
}

.sesi {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    padding: 0 0 20px 0px;
}

.sesi h3 {
    text-align: left;
}

.sesi p {
    text-align: left;
}

.footer .icones img {
    display: inline-block;
    margin-left: 25px;
    ;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    background-color: #9a1915;
    color: white;
}



.img {
    width: 25%;
    margin-bottom: 300px;
    align-items: center;
}

.team {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 50px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    margin-left: -135px;
}


/* Responsividade Telas Grandes */
@media (min-width: 769px) and (max-width: 1024px) {

    /* Menu */
    .menu-materias ul {
        top: 64px;
        width: 18%;
    }

    #btn-menu {
        top: 7px;
        width: 90px;
    }

    .linha {
        width: 26px;
        height: 2px;
        margin: 7px auto;
    }

    /* Header */
    .container_header {
        height: 4rem;
    }

    .container_img {
        width: 30%;
    }

    .container_img img {
        width: 70%;
        height: 75%;
        padding: 0 20px;
    }

    .divisoria {
        width: 0.14rem;
    }

    .nav {
        width: 45%;
        gap: 4rem;
    }

    .nav a {
        font-size: 14px;
    }

    /* Conteúdo */
    .container {
        height: 80rem;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 30px;
    }

    /* Footer */
    .footer {
        margin-top: 10px;
    }

    .footer .enderecos {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 4.3rem;
    }

    .footer .icones {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .senai,
    .sesi {
        width: 40%;
        height: 90%;
        padding: 10px 0 10px 0;
        margin-left: 0;
    }

    .senai h3,
    .sesi h3 {
        text-align: center;
        font-size: 14px;
    }

    .senai p,
    .sesi p {
        text-align: center;
        font-size: 12px;
    }
}

/* Responsividade Telas Laptops */
@media (min-width: 300px) and (max-width: 768px) {

    /* Menu */
    #btn-menu {
        top: 0px;
    }

    .linha {
        width: 20px;
        height: 0.10rem;
        margin: 6px auto;
    }

    .linha:hover {
        width: 20px;
    }

    /* Header */
    .container_header {
        height: 3rem;
    }

    .container_img {
        width: 30%;
    }

    .container_img img {
        width: 100%;
        height: 79%;
        padding: 0 10px;
    }

    .divisoria {
        width: 0.1rem;
    }

    .nav {
        width: 57%;
        gap: 1.1rem;
    }

    .nav a {
        font-size: 12px;
    }

    /* Conteúdo */
    .container {
        height: 165rem;
    }

    .video-container {
        width: 100%;
        height: 18rem;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 30px;
    }

    .video {
        width: 80%;
        height: 18rem;
    }

    /* Footer */

    .footer {
        margin-top: 30px;
    }

    .footer .enderecos {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 4.3rem;
    }

    .footer .icones {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .senai,
    .sesi {
        width: 40%;
        height: 90%;
        padding: 10px 0 10px 0;
        margin-left: 0;
    }

    .senai h3,
    .sesi h3 {
        text-align: center;
        font-size: 12px;
    }

    .senai p,
    .sesi p {
        text-align: center;
        font-size: 10px;
    }
}