

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis de tema */
:root {
    --vermelho: #cc0000;
    --vermelho_escuro: #9A1915;
    --cinza: #D9D9D9;
    --preto: #000;
    --branco: #ffffff;
    --fonte_texto: 'Montserrat', sans-serif;
}

/* Reset e estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte_texto);
}

/* Header */
.container_header {
    display: flex;
    align-items: center;
    gap: 0.33rem;
    padding: 0.5rem;
    background-color: var(--vermelho);
    height: 6rem;
}

.container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.container_img img {
    width: 70%;
    height: 80%;
}

.divisoria {
    background-color: var(--branco);
    width: 0.15rem;
    height: 80%;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 70%;
}

.nav a {
    color: var(--branco);
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.nav a:hover {
    background-color: var(--vermelho_escuro);
}

/* Navegação */
.navegacao {
    display: flex;
    justify-content: center;
    gap: 6%;
    padding: 2rem 0;
}

.navegacao a {
    background-color: var(--cinza);
    padding: 4px 30px;
    border-radius: 18px;
    text-decoration: none;
}

.navegacao a:hover {
    background-color: var(--vermelho);
}

.menu-navegacao {
    display: flex;
    justify-content: center;
    gap: 6%;
    padding: 2rem 0;
}

a {
  color: black
}
/* Simulados */
.simulado {
  margin-left: 30px;
  margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--vermelho);
    margin-bottom: 10px;
    border-radius: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.simulado:hover {
    background-color: #f5f5f5;
}

/* Footer */

.footer-text {
  background-color: #9a1915;
  color: white;

}

.header-nav .nav-link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin: 6px;
  color: #ffffffff;
}

.footer {
  background-color: #9a1915;
  color: white;
  margin-top: 50px;
}

.footer .icones {
  background-color: #e30613;
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: 25%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 20px 0px;
}

.sesi h3 {
  text-align: left;
}

.sesi p {
  text-align: left;
}

.footer .icones img {
  display: inline-block;
  margin-left: 25px;;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  background-color: #9a1915;
  color: white;
}



.img {
  width: 25%;
  margin-bottom: 300px;
  align-items: center;
}

.team{
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.icones {
display: flex;
justify-content: center;
gap: 10px;
padding: 10px 0;
align-items: center;
margin-left: -135px;
}